.map-info-window tr, td{
    color: #ffffff;
}
 
.gm-style-iw {
  background: #0d6fb7b3;
  box-shadow: none;
  border-radius:0;
  padding-top: 9px;
}
.ui-menu {
    
    padding: 0;
    position: relative;
    outline: 0 none;
}
.gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    background: black;
    box-shadow: transparent;
}

