body{
    padding: 0px;
    margin:0px;
    text-align: center;
    overflow: hidden;
}

.mainMenuPanel{
    position:fixed;
    top:0px;
    right: 0px;
    width: 350px;
    background: transparent;
}

.ui-widget-content.mainMenuPanel{
    padding: 0px;
}

.ui-panel.mainMenuPanel .ui-widget-content.mainMenuPanel{
    padding: 0px;
}

.ui-widget-content.mainMenuPanel {
    border:0px;
    border-radius: 0px;
    padding: 0px;
}

.historyMenuPanel{
    position: fixed;
    top: -5px;
    left: 35%;
    display: block;
    width: 30%;
    background: transparent;
}
.ui-panel.historyMenuPanel .ui-widget-content.historyMenuPanel{
    padding: 0px;
}

.ui-widget-content.historyMenuPanel {
    border:0px;
    border-radius: 0px;
    padding: 0px;
}
.legendPanel{
    position: fixed;
    top: -5px;
    right: 0px;
    display: block;
    width: 170px;

}
.ui-panel.legendPanel .ui-widget-content.legendPanel{
    padding: 0px;
}

.ui-widget-content.legendPanel {
    border:0px;
    border-radius: 0px;
    padding: 0px;
}

.searchPanel{
    position: fixed;
    top: -2px;
    right: 220px;
    display: block;
    width: 170px;

}
.ui-panel.searchPanel .ui-widget-content.searchPanel{
    padding: 0px;
}

.ui-widget-content.searchPanel {
    border:0px;
    border-radius: 0px;
    padding: 0px;
}

.clutchPanel{
    position: fixed;
    top: 65px;
    right: 0px;
    display: block;
    width: 270px;
    height: 340px;

}
.ui-panel.clutchPanel .ui-widget-content.clutchPanel{
    padding: 0px;
}

.ui-widget-content.clutchPanel {
    border:0px;
    border-radius: 0px;
    padding: 0px;
}
.ui-widget-content.panelInfo {
    border:0px;
    border-radius: 0px;
    padding: 0px;
}

header{
    
    margin: 5px 10px;
    width: 500px;
    height: 50px;
    background-color: red;
    z-index:99999999;
}

div.container{
    width: 100px;
    height: 50px;
    float: left;
    -webkit-transition: height .4s;
}
div#one{
    background-color: rgb(208,101,3);
}
div#two{
    background-color: rgb(233,147,26);
}
div#three{
    background-color: rgb(22,145,190);
}
div#four{
    background-color: rgb(22,107,162);
}
div#five{
    background-color: rgb(27,51,73);
}
img.icon{
    display: block;
    margin: 9px auto;
    background-color: rgb(255,255,255,0.15);
    width: 32px;
    padding: 2px;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0);
    -webkit-transition: box-shadow .4s;
}
div.container:hover{
    height: 60px;
}
div.container:hover img.icon{
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
}

.ui-button-text{
   font-size:14px;
   
}
.smallButton{
    background-color: white;
    height: 32px;
    width: 65px;
    text-align: center;
}
.smallButton .ui-button-text {
   font-size:11px;
}
.withOutBorder{
    border:0px;
    border-radius: 0px;
    padding: 0px;
}

.infoPointPanel{
    position: fixed;
    top: 95px;
    left: 50px;
    display: block;


}


